.btnBlock{
  text-align: center;
}
.btn{
  padding: 5px 15px;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  border: 3px solid black;
  border-radius: 5px;
  margin: 10px;
  transition: .2s background-color linear;
}
.btn:hover{
  background-color: gold;
}
.timer{
  font-size: 26px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}